@mixin ButtonStyle-base {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 70ms linear;
  transition-property: color, border-color, background-color;
  &:focus {
    outline: 0;
  }
}
@mixin ButtonStyle-slab-base {
  justify-content: flex-start;
  border-radius: 0;
}


@mixin ButtonStyle-slab($highlightColor: $external-theme-linkHighlight) {
  color: $external-theme-headingText;
  background-color: $external-theme-slab-background;
}
@mixin ButtonStyle-slab-hover($highlightColor: $external-theme-linkHighlight) {
  background-color: $highlightColor; // fallback
  background-color: var(--highlightColor);
  color: white;
}
@mixin ButtonStyle-slab-active($highlightColor: $external-theme-linkHighlight) {
  background-color: darken($highlightColor, 10%);
}


@mixin ButtonStyle-hollow {
  color: $app-color-highlightBlue;
  background-color: transparent;
  border: 2px solid currentColor;
}
@mixin ButtonStyle-hollow-hover {
  background-color: $app-color-highlightBlue;
  color: white;
  border-color: $app-color-highlightBlue;
}
@mixin ButtonStyle-hollow-active {
  background-color: darken($app-color-highlightBlue, 10%);
  border-color: darken($app-color-highlightBlue, 10%);
}


@mixin ButtonStyle-primary {
    background-color: $app-color-highlightBlue;
    color: white;
    border-color: $app-color-highlightBlue;
}
@mixin ButtonStyle-primary-hover {
  background-color: white;
  border-color: white;
  color: $app-color-highlightBlue;
}
@mixin ButtonStyle-primary-active {
  background-color: mix(white, $app-color-highlightBlue, 90%);
  border-color: mix(white, $app-color-highlightBlue, 90%);
}