.xt-Body {
    flex: 1;
    background-image: url('../images/lost-lake-butte.jpg');
    background-size: cover;
    background-position-y: 0%;
}

.xt-Body-header {
    margin: 3rem 0 4rem;
}

.xt-Body-mainHeading {
    font-size: 40px;
    color: white;
}
