$xt-sidebar-maxWidth: 340px;
$xt-sidebar-gutterV: 10px;
$xt-main-gutter: 50px;

$xt-mobileSectionGutterV: 1rem;

$xt-column-gutter-small: 20px;


.xt-Columns {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $external-mq-collapseMax + 1px) {
        flex-direction: row;
    }
}

.xt-Column {
    @media screen and (min-width: $external-mq-collapseMax + 1px) {
        flex: 1;
    }
}

.xt-Column--aside {
    @media screen and (min-width: $external-mq-collapseMax + 1px) {
        max-width: $xt-sidebar-maxWidth;
    }
}

// Mobile column padding
.xt-Column {
    padding: 0 $xt-column-gutter-small; 
}
// Desktop column padding
@media screen and (min-width: $external-mq-collapseMax + 1px) {
    .xt-Column--main {
        padding: 0 $xt-main-gutter;
    }
    .xt-Column--aside {
        padding: 0;
    }
}

// Mobile column stacking
@media screen and (max-width: $external-mq-collapseMax) {
    div.xt-Column:not(:first-of-type) {
        margin-top: $xt-mobileSectionGutterV;
    }
}