.xt-introSlabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.xt-introSlab:not(:last-child) {
    margin-bottom: 24px;
}

@media screen and (max-width: $external-mq-collapseMax) {
    .xt-introSlab:not(:last-child) {
        margin-bottom: $xt-sidebar-gutterV;
    }
}
